$selector: ".career-single";

#{$selector} {
  &__sidebar {
    position: sticky;
    top: 20px;
    &-widget {
      border-bottom: 2px solid $qc-blue-light;
      margin-bottom: rfs-value(50px);
      padding-bottom: rfs-value(50px);
      @include media-breakpoint-down(lg) {
        &:last-child {
          padding-bottom: 0;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: rfs-value(25px);
        padding-bottom: rfs-value(25px);
      }

      &:last-of-type {
        border: none;
      }
    }

    &-title {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__info-form {
    @extend %q-bg-img;

    background-color: $qc-blue-light;
    background-size: auto 133%;
    background-position: left 250% center;
    flex-direction: column;
    padding: 3rem;
    margin-bottom: rfs-value(70px);

    @include media-breakpoint-down(xl) {
      padding: 1.5rem;
    }
    @include media-breakpoint-down(md) {
      padding: 2.5rem;
    }
    @include media-breakpoint-down(sm) {
      padding: 1.5rem;
      margin-bottom: 2rem;
    }

    label {
      margin-bottom: rfs-value(20px);
    }
  }

  &__spec {
    @extend %q-bg-img-dark;

    background-color: $qc-blue-lighter;
    background-size: 100% auto;
    background-position: left 250% center;
    margin-bottom: rfs-value(45px);
    padding: rfs-value(30px) rfs-value(35px);
  }

  &__content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1.5rem;
      margin-top: 2rem;
    }
  }

  &__disclaimer {
    // font-size: 1.5rem;
    // line-height: 2rem;
    margin-bottom: 2rem;
  }

  &__footnote {
    &-title {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
      margin-top: 2rem;
    }

    &-text {
      // font-size: rfs-value(18px);
    }
  }

  &__apply {
    background-color: $qc-blue-light;
    padding-top: rfs-value(70px);
    padding-bottom: rfs-value(70px);
    @include media-breakpoint-down(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    form {
      width: 100%;
      margin: 0 auto;
    }

    fieldset {
      flex-wrap: wrap;
      @include media-breakpoint-down(md) {
        display: block !important;
      }
    }

    .label,
    label {
      flex: 0 1 50%;
      margin-bottom: rfs-value(30px);

      &:has(textarea) {
        flex: 0 1 100%;
      }
    }

    label {
      width: 100%;
      input {
        width: 100%;
      }
      @include media-breakpoint-up(md) {
        &:nth-child(even) {
          input {
            margin-left: 10px;
          }
        }
        &:nth-child(odd) {
          input {
            margin-right: 10px;
          }
        }
        input {
          width: calc(100% - 20px);
        }
      }
      .wpcf7-form-control-wrap {
        input {
          margin-left: 0;
          margin-bottom: 10px;
        }
      }
    }

    .label {
      flex-wrap: wrap;

      > span {
        &:first-child {
          flex: 0 1 100%;
        }
      }

      .wpcf7-radio {
        > span {
          & + span {
            margin-left: rfs-value(50px);
          }

          [type="radio"] {
            margin-right: rfs-value(10px);
          }
        }
      }
    }
    .wpcf7-list-item {
      input {
        margin-top: 2px;
      }
    }
    textarea {
      width: 100%;
      border: none;
    }
  }
}

.single-career {
  .site__footer-wrap {
    padding-top: 3rem;
  }
}
