$selector: ".care-home";

#{$selector} {
  $premium-hook: #{$selector + "--premium"};

  .post-section {
    padding-top: rfs-value(80px);
    padding-bottom: rfs-value(80px);
    @include media-breakpoint-down(md) {
      padding-top: rfs-value(45px);
      padding-bottom: rfs-value(45px);
    }
  }
  &__forms {
    .site__form-text {
      address a {
        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }
    .wpcf7 {
      input.btn {
        border: none;
        transition: 0.3s;
        &:hover {
          background-color: $qc-white;
          color: $qc-blue-dark;
          border: none;
        }
        #{$premium-hook} & {
          background-color: $qc-gold;
          border: none;
          &:hover {
            background-color: $qc-white;
            color: $qc-blue-dark;
          }
        }
      }
    }
  }

  // &--premium {
  //   #{$selector} {
  //     &__header {
  //       background-color: $secondary;
  //       color: $qc-white;
  //     }
  //   }
  // }

  &__header {
    position: relative;
    color: $qc-white;
    z-index: 1;

    &-img {
      position: relative;
      aspect-ratio: 746 / 589;
      width: 500px;
      @include media-breakpoint-down(md) {
        width: 70%;
        margin: 0 auto;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/q-img-frame.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }

      img {
        // width: 380px;//rfs-value(380px);
        // height: 380px;//rfs-value(380px);
        // object-fit: cover;
        // border-radius: 50%;
        width: 55%;
        // height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
        top: 15%;
        position: relative;
        left: 12%;
      }
    }

    div {
      &:has(> address) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-logo {
      flex-basis: 100%;

      @include media-breakpoint-up(md) {
        padding-right: 1.5rem;
      }

      & + address {
        flex-basis: 100%;
      }
    }

    address {
      a {
        color: $white;
        transition: 0.3s;
        &:hover {
          color: $qc-blue-dark;
        }
        #{$premium-hook} & {
          &:hover {
            color: $qc-gold;
          }
        }
      }
    }

    &-text {
      margin-bottom: rfs-value(100px);
    }

    .btn {
      margin-right: rfs-value(30px);
      & + .btn {
      }
    }
  }

  &__nav {
    background-color: $qc-dark-grey;
    font-size: rfs-value(25px);

    .menu-collapse {
      .menu-collapse__display {
        transition: 0.3s;
        color: $qc-blue-dark;
        &:hover {
          color: $qc-white;
          #{$premium-hook} & {
            background-color: $qc-gold;
          }
          background-color: $qc-blue-dark;
          a {
            color: $qc-white;
          }
          .icon-arrow-down {
            color: $qc-white;
          }
        }
      }
      &--open {
        .icon-arrow-down {
          transform: rotate(180deg);
        }
      }
      ul {
        @include media-breakpoint-down(md) {
          background-color: $qc-blue-lighter;
        }
        li {
          transform: 0.3s;
          &:hover {
            #{$premium-hook} & {
              background-color: $qc-gold;
            }
            background-color: $qc-blue-dark;
            a {
              color: $qc-white;
            }
          }
        }
      }
      .icon-arrow-down {
        transition: 0.3s;
        color: #fff;
        font-size: 2rem;
        position: absolute;
        right: 50px;
        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }

    a {
      text-decoration: none;
      color: $qc-black;
      padding-left: rfs-value(20px);
      padding-right: rfs-value(20px);
      transition: 0.3s;
      &:hover {
        color: $qc-blue-light;
        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }
  }

  &__overview {
    @extend %q-bg-img-dark;

    #{$premium-hook} & {
      background-color: $qc-white;
    }

    background-size: auto 131%;
    background-position: left 39% top -70%;

    :not(.btn) {
      color: $qc-black;
    }

    &-text {
      column-count: 2;
      column-rule: rfs-value(2px) solid $qc-blue-light;
      #{$premium-hook} & {
        column-rule: rfs-value(2px) solid $qc-gold;
      }
      column-gap: rfs-value(100px);
      @include media-breakpoint-down(md) {
        column-count: 1;
      }
    }
  }

  &__carousel {
    .splide__arrows {
      width: 80%;
      margin: 0 auto;
      li {
        button {
          border: 1px solid $qc-blue-light;
          &.is-active {
            background-color: $qc-blue-light;
          }
        }
      }
      .splide__arrow {
        // color: $qc-blue-light;
      }
    }
    &.premium {
      background-color: $qc-pale-gold;
      li {
        button {
          border: 1px solid $qc-gold;

          &.is-active {
            background-color: $qc-gold;
          }
        }
      }
      .splide__arrow {
        color: $qc-gold;
        &:hover {
          color: $qc-blue-dark;
        }
      }
    }
    &-track {
      margin-bottom: rfs-value(30px);
    }

    &-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9 auto;
      }
    }
  }

  &__location {
    &-map {
      height: rfs-value(400px);
    }
  }

  &__team {
    #{$premium-hook} & {
      background-color: $qc-pale-gold;
      padding-bottom: 6.25rem;
    }
    .icon-arrow-down {
      transition: 0.3s;
      color: white;
      font-size: 2rem;
      position: absolute;
      right: 10px;
      #{$premium-hook} & {
        color: $qc-gold;
      }
    }
    padding-bottom: 0;
    .menu-collapse {
      @include media-breakpoint-down(md) {
        .nav-item,
        li,
        li:not(.care-home__team .menu-collapse.active):hover {
          transition: 0.3s;
          &:hover {
            background-color: $qc-blue-dark;
            a,
            a.active {
              color: white;
            }
          }
        }
        .menu-collapse__display {
          transition: 0.3s;
          &:hover {
            background-color: $qc-blue-dark;
            span {
              color: white;
            }
            #{$premium-hook} & {
              background-color: $qc-blue-dark;
              span {
                color: white;
              }
            }
          }
        }
      }
      &.menu-collapse--open {
        @include media-breakpoint-down(md) {
          .icon-arrow-down {
            transform: rotate(180deg);
          }
        }
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
        #{$premium-hook} & {
          background-color: $qc-dark-grey;
        }
        background-color: $qc-blue-light;
        .menu-collapse__display {
          align-items: center;
          transition: 0.3s;
          justify-content: center;
          span {
            font-size: 20px;
            color: white;
            text-align: center;

            display: block;
            #{$premium-hook} & {
              color: $qc-blue-dark;
            }
          }
        }
      }
    }

    &-nav {
      flex: 1;
      padding-right: rfs-value(80px);
      @include media-breakpoint-down(md) {
        padding-right: 0;
        width: 100%;
      }

      li {
        font-size: 16px;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
          padding-right: 0;
          width: 100%;
          background-color: $qc-blue-lighter;
          color: $white;
          #{$premium-hook} & {
            background-color: $qc-dark-grey;
            color: $white;
          }
        }

        &:has(.active) {
          background-color: $qc-blue-dark;
          color: white;
          #{$premium-hook} & {
            background-color: $qc-dark-grey;
            @include media-breakpoint-down(md) {
              background-color: $qc-gold;
            }
          }
        }

        a {
          padding: 20px 30px;
          text-align: right;
          @include media-breakpoint-down(md) {
            text-align: center;
          }
          &:not(&.active) {
            text-decoration: underline;
            &:hover {
              color: $qc-blue-dark;
            }
            @include media-breakpoint-down(md) {
              text-decoration: none;
            }

            #{$premium-hook} & {
              color: $qc-gold;
              @include media-breakpoint-up(md) {
                &:hover {
                  color: $qc-blue-dark;
                }
              }
              @include media-breakpoint-down(md) {
                color: $qc-blue-dark;
              }
            }
          }

          &.active {
            color: $white;

            #{$premium-hook} & {
              color: $qc-black;
            }
          }
        }
      }
    }

    &-panes {
      flex: 3;
    }

    &-pane {
      // padding: rfs-value(55px);
      color: $white;
      background-color: $qc-blue-light;

      #{$premium-hook} & {
        background-color: $qc-dark-grey;
        color: $qc-blue-dark;
      }
    }

    &-member {
      padding-right: rfs-value(75px);
      @include media-breakpoint-down(xl) {
        padding-right: 0;
      }
      text-align: center;
    }

    figure {
      width: rfs-value(240px);
      height: rfs-value(240px);
      border: rfs-value(20px) solid $qc-blue-dark;
      padding: rfs-value(10px);
      border-radius: 50%;
      margin-bottom: rfs-value(15px);
      @include media-breakpoint-down(xl) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    img {
      width: rfs-value(180px);
      height: rfs-value(180px);
      object-fit: contain;
      border-radius: 50%;
    }
  }

  &__facilities {
    @extend %q-bg-img-dark;
    &.care-home--premium {
      background-color: $qc-pale-gold;
    }
    background-size: 100% auto;
    background-position: left -300px bottom -672px;
    .splide__arrows {
      margin-top: 20px;
      i {
        color: $qc-blue-light;
        font-size: 2.5rem;
        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }
    &-types {
      border-left: 2px solid $qc-blue-light;
      padding-left: rfs-value(140px);
      @include media-breakpoint-down(lg) {
        padding-left: rfs-value(70px);
      }
      @include media-breakpoint-down(md) {
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        padding-top: 3rem;
        border-left: none;
        border-top: 2px solid $qc-blue-light;
      }
      #{$premium-hook} & {
        border-color: $qc-gold;
      }
    }

    &-intro {
      padding-right: rfs-value(140px);
      @include media-breakpoint-down(lg) {
        padding-right: rfs-value(70px);
      }
      @include media-breakpoint-down(md) {
        padding-right: 0;
        padding-bottom: 3rem;
      }
    }

    &-icons {
      #{$premium-hook} & {
        color: $qc-gold;
      }

      @include media-breakpoint-up(md) {
        flex-wrap: wrap;
        justify-content: center;
        gap: rfs-value(10px);
        padding-top: rfs-value(90px);
      }

      li {
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(md) {
          justify-content: space-between;
          font-size: 18px;
          flex: 0 1 calc(20% - rfs-value(10px));
          margin-bottom: rfs-value(80px);
        }

        > span {
          text-align: center;
          margin-bottom: 20px;
          display: block;
          .width-90 {
            width: 90%;
          }
        }
      }

      i {
        color: $qc-blue-light;
        font-size: rfs-value(70px);

        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }
  }

  &__news {
    &-wrap {
      margin-bottom: rfs-value(75px);
      @include media-breakpoint-down(md) {
        margin-bottom: 3rem;
      }

      & + .btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-card {
      background-color: $qc-blue-lighter;
      #{$premium-hook} & {
        background-color: $qc-dark-grey;
      }
      height: 100%;
      flex-direction: column;

      &-img {
        margin-bottom: rfs-value(30px);
        aspect-ratio: 16 / 9;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-text {
        flex: 1;
        flex-direction: column;
        padding: 0 rfs-value(20px) rfs-value(40px);

        p {
          margin-bottom: rfs-value(40px);
        }
      }

      &-title {
        font-size: 1.25rem;
        height: calc(var(--bs-body-line-height) * 3);
        overflow: hidden;
      }

      .btn {
        margin-top: auto;
        align-self: flex-start;
      }
    }
  }
  &__creds {
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      contain-intrinsic-size: 1003px 600px !important;
      @include media-breakpoint-down(md) {
        aspect-ratio: 16/9;
      }
    }
  }
  &__brochures {
    position: relative;
    color: $qc-white;
    z-index: 1;
    &.care-home--premium {
      li {
        border-bottom: 2px solid $qc-gold;
      }
    }
    li {
      .btn {
        position: relative;
        padding-left: 50px;
        padding-right: 50px;

        &:hover {
          i {
            transform: rotate(180deg);
          }
        }
        i {
          transition: 0.3s;
          position: absolute;
          right: 10px;
          padding-top: 4px;
        }
      }
      border-bottom: 2px solid $qc-blue-light;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      &:last-child {
        margin-bottom: rfs-value(40px);
      }
    }

    &-label {
      color: white;
      padding-bottom: 0;
      margin-bottom: 0;
      font-size: 1.4rem;
    }
  }
}
