$selector: ".ch";

#{$selector} {
  $archive-gutter: rfs-value(110px);
  $premium-hook: #{$selector}__card--premium;
  &__list {
    .card-col {
      @include media-breakpoint-up(lg) {
        &:nth-of-type(even) {
          .ch__card {
            margin-left: 1.5rem;
          }
        }
        &:nth-child(odd) {
          .ch__card {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }

  &__search {
    @extend %q-bg-img;

    background-position: left -50% top 60%;
    background-size: 150% 150%;
    padding: rfs-value(45px);
    color: $qc-white;

    &-form {
      &:first-child {
        margin-bottom: rfs-value(18px);
      }

      select {
        height: 100%;
      }
    }
  }

  &__archive {
    padding-bottom: rfs-value(100px);

    &-switcher {
      justify-content: space-between;
      // padding-bottom: rfs-value(80px);
    }
  }

  &__list {
    > .row > [class*="col-md"] {
      //padding-bottom: $archive-gutter;

      &:nth-child(odd) {
        //padding-right: calc($archive-gutter/2);
      }

      &:nth-child(even) {
        // padding-left: calc($archive-gutter/2);
      }
    }
  }

  &__card {
    position: relative;
    @extend %q-bg-img;

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 88%;
    display: flex;
    flex-direction: column;
    color: $qc-white;
    background-color: $qc-blue-light;
    height: 100%;

    &--premium {
      background-color: $qc-blue-dark;
    }

    &-img {
      margin-bottom: rfs-value(30px);
      img {
        height: 250px;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    &-title {
      font-size: 25px;
    }

    &-logo {
      width: rfs-value(245px);
    }

    div:has(#{$selector}__card-contact) {
      //padding-bottom: rfs-value(60px);
    }

    &-contact {
      flex: 1;
      padding-right: rfs-value(30px);

      address {
        &:first-of-type {
          margin-bottom: 0.6rem;
        }
      }
      a {
        color: $qc-white;
        text-decoration: none;
      }
    }

    &-types {
      flex: 1;
      border-left: 2px solid $qc-white;
      @include media-breakpoint-down(lg) {
        border-left: none;
        border-top: 2px solid $qc-white;
        border-bottom: 2px solid $qc-white;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
      }

      #{$premium-hook} & {
        border-color: $qc-gold;
      }
    }

    &-icons {
      border-top: 2px solid $qc-white;
      @include media-breakpoint-down(lg) {
        border-top: none;
      }
      padding-top: 2rem;
      margin-bottom: 2rem;

      @include media-breakpoint-up(lg) {
        column-count: 2;
        column-gap: 1.25rem;
      }

      #{$premium-hook} & {
        border-color: $qc-gold;
      }

      li {
        margin-bottom: 1.5rem;
        align-items: center;
        > span {
          flex: 2;
          @include media-breakpoint-down(md) {
            flex: 4;
          }
          font-size: 14px;
          line-height: 20px;
        }
      }

      i {
        font-size: rfs-value(35px);
        text-align: center;

        width: rfs-value(70px);
        margin-right: rfs-value(10px);
        flex: 1;

        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }

    .btn {
      margin-top: auto;
      align-self: flex-start;
      &.btn-absolute {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }
    }

    /* Remove. debug only */
    .distance {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 15px;
      padding: 5px;
      background-color: rgba($qc-white, 0.5);
      color: $qc-black;
    }
  }

  &__pagination {
    justify-content: center;
    font-size: 1.2rem;

    .nav-links {
      .page-numbers {
        padding-left: 5px;
        padding-right: 5px;
        color: $qc-blue-dark;
        transition: 0.3s;
        &:hover {
          color: $qc-blue-light;
        }
        &.current {
          color: $qc-blue-light !important;
        }

        &.next,
        &.prev {
          position: relative;
          text-decoration: none;
          transition: 0.3s;
          i {
            position: absolute;
            transition: 0.3s;
          }
          &:hover {
            color: $qc-blue-light;
          }
        }

        &.next {
          margin-left: rfs-value(95px);

          i {
            margin-left: 30px;
            padding-top: 3px;
          }
        }

        &.prev {
          margin-right: rfs-value(95px);

          i {
            margin-left: -40px;
            padding-top: 3px;
          }
        }
      }
    }
  }

  &__map {
    background-color: $qc-blue-lighter;
    height: rfs-value(990px);

    &-thumb {
      aspect-ratio: 16 / 9;
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
        max-width: rfs-value(250px);
        height: 100%;
        margin-bottom: rfs-value(20px);
      }
    }
  }
}

.filter-btn {
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  font-size: 1.25rem;
  border: none;
  &[aria-expanded="true"] {
    background-color: $qc-blue-light;
    &:hover {
      background-color: $qc-blue-dark;
    }
  }
  &:hover {
    background-color: $qc-blue-light;
    .icon-arrow-down {
      transform: rotate(180deg);
    }
  }
  .icon-arrow-down {
    transition: 0.3s;
    position: absolute;
    right: 10px;
    padding: 5px;
    text-align: center;
    color: $qc-white;
    transition: 0.3s;
    position: absolute;
  }
}
