$selector: ".ch";

#{$selector} {
  $archive-gutter: rfs-value(110px);
  $premium-hook: #{$selector}__card--premium;

  &__search {
    @extend %q-bg-img;

    background-position: left -50% top 60%;
    background-size: 150% 150%;
    padding: rfs-value(45px);
    color: $qc-white;

    &-form {
      &:first-child {
        margin-bottom: rfs-value(18px);
      }

      select {
        height: 100%;
      }
    }
  }

  &__archive {
    padding-bottom: rfs-value(100px);

    &-switcher {
      justify-content: space-between;
      padding-bottom: rfs-value(80px);
    }
  }

  &__list {
    > .row > [class*="col-md"] {
      padding-bottom: $archive-gutter;

      &:nth-child(odd) {
        padding-right: calc($archive-gutter/2);
      }

      &:nth-child(even) {
        padding-left: calc($archive-gutter/2);
      }
    }
  }

  &__card {
    position: relative;
    @extend %q-bg-img;

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 88%;
    display: flex;
    flex-direction: column;
    color: $qc-white;
    background-color: $qc-blue-light;
    height: 100%;

    &--premium {
      background-color: $qc-blue-dark;
    }

    &-img {
      margin-bottom: rfs-value(30px);
    }

    &-title {
      font-size: 25px;
    }

    &-logo {
      width: rfs-value(245px);
    }

    div:has(#{$selector}__card-contact) {
      //padding-bottom: rfs-value(60px);
    }

    &-contact {
      flex: 1;
      padding-right: rfs-value(30px);

      address {
        &:first-of-type {
          margin-bottom: rfs-value(30px);
        }
      }
      a {
        color: $qc-white;
        text-decoration: none;
      }
    }

    &-types {
      flex: 1;
      border-left: 1px solid $qc-white;
      padding-left: rfs-value(65px);

      #{$premium-hook} & {
        border-color: $qc-gold;
      }
    }

    &-icons {
      border-top: rfs-value(1px) solid $qc-white;
      padding-top: rfs-value(80px);
      margin-bottom: rfs-value(40px);

      @include media-breakpoint-up(lg) {
        column-count: 2;
        column-gap: rfs-value(60px);
      }

      #{$premium-hook} & {
        border-color: $qc-gold;
      }

      li {
        margin-bottom: rfs-value(35px);

        >span {
          flex: 2;
        }
      }

      i {
        font-size: rfs-value(35px);
        text-align: center;
        width: rfs-value(70px);
        margin-right: rfs-value(10px);
        flex: 1;

        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }

    .btn {
      margin-top: auto;
      align-self: flex-start;
    }

    /* Remove. debug only */
    .distance {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 15px;
      padding: 5px;
      background-color: rgba($qc-white, 0.5);
      color: $qc-black;
    }
  }

  &__pagination {
    justify-content: center;

    .nav-links {
      .page-numbers {
        color: $qc-black;

        &.next,
        &.prev {
          text-decoration: none;
        }

        &.next {
          margin-left: rfs-value(95px);

          i {
            margin-left: rfs-value(20px);
          }
        }

        &.prev {
          margin-right: rfs-value(95px);

          i {
            margin-right: rfs-value(20px);
          }
        }
      }
    }
  }

  &__map {
    background-color: $qc-blue-lighter;
    height: rfs-value(990px);
  }
}
