$selector: ".care-home";

#{$selector} {
  $premium-hook: #{$selector + "--premium"};

  .post-section {
    padding-top: rfs-value(100px);
    padding-bottom: rfs-value(100px);
  }

  // &--premium {
  //   #{$selector} {
  //     &__header {
  //       background-color: $secondary;
  //       color: $qc-white;
  //     }
  //   }
  // }

  &__header {
    color: $qc-white;
  
    &--premium {
      background-color: $secondary;
    } 

    &-img {
      position: relative;
      aspect-ratio: 746 / 589;
      width: 500px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/q-img-frame.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }

      img {
        // width: 380px;//rfs-value(380px);
        // height: 380px;//rfs-value(380px);
        // object-fit: cover;
        // border-radius: 50%;
        width: 55%;
       // height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
        top: 15%;
        position: relative;
        left: 12%;
      }
    }

    div {
      &:has(>address) {
        margin-bottom: rfs-value(50px);
      }
    }

    &-logo {
      flex-basis: 100%;

      @include media-breakpoint-up(md) {
        padding-right: rfs-value(90px);
      }

      & + address {
        flex-basis: 100%;
      }
    }

    address {
      a {
        color: $white;
      }
    }

    &-text {
      margin-bottom: rfs-value(100px);
    }

    .btn {
      &+ .btn {
        margin-left: rfs-value(30px);
      }
    }
  }

  &__nav {
    background-color: $qc-blue-lighter;
    font-size: rfs-value(25px);
    padding-top: rfs-value(20px);
    padding-bottom: rfs-value(35px);

    a {
      text-decoration: none;
      color: $qc-black;
      padding-left: rfs-value(20px);
      padding-right: rfs-value(20px);
    }
  }

  &__overview {
    @extend %q-bg-img-dark;

    #{$premium-hook} & {
      background-color: $qc-white;
    }

    background-color: #efece9;
    background-size: auto 131%;
    background-position: left 39% top -70%;

    :not(.btn) {
      color: $qc-black;
    }    

    &-text {
      column-count: 2;
      column-rule: rfs-value(1px) solid $qc-gold;
      column-gap: rfs-value(100px);
    }
  }

  &__carousel {
    &-track {
      margin-bottom: rfs-value(30px);
    }

    &-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__location {
    &-map {
      height: rfs-value(400px);
    }
  }

  &__team {
    #{$premium-hook} {
      background-color: $qc-white;
    }

    &-nav {
      flex: 1;
      padding-right: rfs-value(80px);

      li {
        font-size: rfs-value(25px);
        margin-bottom: rfs-value(30px);

        &:has(.active) {
          background-color: $qc-blue-light;

          #{$premium-hook} & {
            background-color: $qc-blue-lighter;
          }
        }

        a {
          padding: rfs-value(15px) rfs-value(35px) rfs-value(25px);

          &:not(&.active) {
            text-decoration: underline;

            #{$premium-hook} & {
              color: $qc-gold;
            }
          }

          &.active {
            color: $white;

            #{$premium-hook} & {
              color: $qc-black;
            }
          }
        }
      }
    }

    &-panes {
      flex: 3;
    }

    &-pane {
      padding: rfs-value(55px);
      background-color: $qc-blue-light;

      #{$premium-hook} & {
        background-color: $qc-blue-lighter;
      }
    }

    &-member {
      padding-right: rfs-value(75px);
    }

    figure {
      width: rfs-value(240px);
      height: rfs-value(240px);
      border: rfs-value(20px) solid $qc-blue-dark;
      padding: rfs-value(10px);
      border-radius: 50%;
      margin-bottom: rfs-value(15px);
    }

    img {
      width: rfs-value(180px);
      height: rfs-value(180px);
      object-fit: contain;
      border-radius: 50%;
    }
  }

  &__facilities {
    @extend %q-bg-img-dark;

    background-size: 100% auto;
    background-position: left -50% bottom -60%;

    &-types {
      border-left: rfs-value(1px) solid $qc-blue-light;
      padding-left: rfs-value(140px);
      margin-top: rfs-value( 55px);

      #{$premium-hook} & {
        border-color: $qc-gold;
      }
    }

    &-intro {
      padding-right: rfs-value(140px);
    }

    &-icons {
      #{$premium-hook} & {
        color: $qc-gold;
      }

      @include media-breakpoint-up(md) {
        padding-top: rfs-value(90px);
        flex-wrap: wrap;
        justify-content: center;
        gap: rfs-value(10px);
      }

      li {
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(md) {          
          justify-content: space-between;
          font-size: rfs-value(24px);
          flex: 0 1 calc(20% - rfs-value(10px));
          margin-bottom: rfs-value(100px);
        }
        
        >span {
          text-align: center;
          margin-bottom: rfs-value(20px);
        }
      }

      i {
        color: $qc-blue-light;
        font-size: rfs-value(70px);

        #{$premium-hook} & {
          color: $qc-gold;
        }
      }
    }
  }

  &__news {
    &-wrap {
      margin-bottom: rfs-value(75px);

      & + .btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-card {
      background-color: $qc-blue-lighter;
      height: 100%;
      flex-direction: column;

      &-img {
        height: rfs-value(310px);
        margin-bottom: rfs-value(30px);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-text {
        flex: 1;
        flex-direction: column;
        padding: 0 rfs-value(20px) rfs-value(40px);

        p {
          margin-bottom: rfs-value(40px);
        }
      }

      &-title {
        font-size: rfs-value(25px);
        height: calc(var(--bs-body-line-height) * 3);
        overflow: hidden;
      }

      .btn {
        margin-top: auto;
        align-self: flex-start;
      }
    }
  }
  
  &__brochures {
    background-color: $qc-blue-dark;
    color: $qc-white;

    li {
      border-bottom: rfs-value(1px) solid $qc-gold;
      padding-top: rfs-value(25px);
      padding-bottom: rfs-value(40px);

      &:last-child {
        margin-bottom: rfs-value(40px);
      }

      #{$selector}--premium & {
        border-color: $qc-gold;
      }
    }

    &-label {
      font-size: rfs-value(45px);
      color: $qc-blue-light;
    }
  }
}
