@import "./bs-overrides";
@import "./qs-font-icons";
@import "./forms";
@import "./site";
@import "./type-search";
@import "./care-home-archive";
@import "./careers-archive";

@font-face {
  font-family: 'poppins-light';
  src: url('../fonts/poppins-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: poppins-light, san-serif;
  background-color: $white;
}

/* Placeholders */
%q-bg-img {
  background-image: url(../images/bg-q.svg);
  background-repeat: no-repeat;
}

%q-bg-img-dark {
  background-image: url(../images/bg-q-dark.svg);
  background-repeat: no-repeat;
}