@import "./bs-overrides";
@import "./qs-font-icons";
@import "./forms";
@import "./site";
@import "./type-search";
@import "./care-home-archive";
@import "./care-home-single";
@import "./careers-archive";
@import "./careers-single";
@import "../../node_modules/@splidejs/splide/src/css/core/index.scss";
@import "./flexible-content";
@import "./hero-carousel";
@import "./news";

@font-face {
  font-family: 'poppins-light';
  src: url('../fonts/Poppins-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'poppins-semi-bold';
  src: url('../fonts/poppins-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: poppins-light, san-serif;
  background-color: $white;
  color: $qc-black;
  font-size: rfs-value(18px);
 // --bs-body-line-height: 1.4em;
}

/* Placeholders */
%q-bg-img {
  background-image: url(../images/bg-q.svg);
  background-repeat: no-repeat;
}

%q-bg-img-dark {
  background-image: url(../images/bg-q-dark.svg);
  background-repeat: no-repeat;
}

%qc-gold-bullet {
  li {
    &::marker {
      color: $qc-gold;
    }
  }
}

%qc-blue-bullet {
  li {
    &::marker {
      color: $qc-blue-light;
    }
  }
}

//classes
.navbar {
  padding-top: 0;
}

.gold-bullets {
  @extend %qc-gold-bullet;
}

.blue-bullets {
  @extend %qc-blue-bullet;
}

[type=submit],
.btn {
  padding: rfs-value(13px) rfs-value(32px) rfs-value(23px);
}

.btn,
.btn-primary {
  color: $qc-white;
}

.btn-gold {
  background-color: $qc-gold;

  &--inverse {
    background-color: unset;
    border-color: $qc-gold;
    color: $qc-gold;
  }
}

.btn-white {
  background-color: $white;
  color: $qc-blue-light;

  &--inverse {
    background-color: unset;
    border-color: $qc-white;
    color: $qc-white;
  }
}

.bg-gold-light {
  background-color: $qc-white;
}

/* Carousel code */
.splide {
  &__pagination {
    &__page {
      border-radius: 50%;
      border: none;
      width: rfs-value(16px);
      height: rfs-value(16px);
      margin: 0 rfs-value(4px);

      &.is-active {
        background-color: $qc-blue-light;
      }

      .splide__pagination--inverse & {
        border: rfs-value(1px) solid $qc-white;
        background-color: unset;

        &.is-active {
          background-color: $qc-white;
        }
      }
    }
  }

  &__arrow {
    color: $qc-white;
    font-size: rfs-value(60px);
    cursor: pointer;
  }

  &__bullets {
    &--inverse {
      border: 1px solid $qc-white;

    }
  }
}

.page-intro {
  padding-right: rfs-value(180px);

  &__title {
    font-size: rfs-value(60px);
    margin-bottom: rfs-value(55px);
  }

  .btn {
    margin-top: rfs-value(60px);
  }
}

.post-section {
  padding: rfs-value(145px);

  &__title {
    font-size: rfs-value(40px);
    margin-bottom: rfs-value(60px);

    &--sml {
      font-size: rfs-value(35px);
      margin-bottom: rfs-value(35px);
    }

    &--lrg {
      font-size: rfs-value(55px);
    }

    &--white {
      color: $white;
    }
  }

  p {
    &:last-of-type {
      margin-bottom: rfs-value(60px);
    }
  }
}

// elements
address,
ul,
figure {
  margin: 0;
}

.nav-link {
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-padding-x: 0;
}


//animations
@keyframes fade-in {
  from  { opacity: 0; }
   to { opacity: 1; }
}

@keyframes fade-out {
  from  { opacity: 1; }
   to { opacity: 0; }
}

.fade-in {
  animation: fade-in 1s;
}

.fade-out {
  animation: fade-out 1s;
}
