$selector: ".fc";

#{$selector} {
  &__img-text {
    img,
    figure {
      width: 100%;
    }
    &--overlap {
      margin-bottom: -125px;
      padding-bottom: 6rem !important;
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
        padding-bottom: 3rem !important;
      }
    }

    &--left {
      #{$selector}__img-text {
        &-img {
          order: 0;
        }

        &-text {
          order: 1;
          padding-left: rfs-value(50px);
          @include media-breakpoint-down(lg) {
            padding-left: calc(var(--bs-gutter-x) * 0.5);
          }
        }
      }
    }

    &--right {
      #{$selector}__img-text {
        &-text {
          padding-right: rfs-value(50px);
          @include media-breakpoint-down(lg) {
            padding-right: calc(var(--bs-gutter-x) * 0.5);
          }
        }
      }
    }

    &--bg {
      @extend %q-bg-img-dark;

      background-size: auto 137%;
      background-position: left 19% top 41%;
      background-color: $qc-blue-lighter;
    }

    &-text {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &-mid {
      @extend %q-bg-img-dark;

      background-size: 150%;
      background-position: left top;
      background-color: $qc-blue-lighter;
    }
  }

  &__testimonials {
    .splide__pagination {
      padding-left: 0;
    }
    @extend %q-bg-img;

    background-size: auto 139%;
    background-position: left -6% top 22%;
    background-color: $qc-blue-light;
    color: $qc-white;
    text-align: center;

    blockquote {
      > p {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }
  }
  &__video {
    figure {
      position: relative;
      padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
      aspect-ratio: 16/9;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__featured {
    &-card {
      @extend %q-bg-img;

      background-color: $qc-blue-light;
      background-size: 167%;
      background-position: -12% 279%;
      //padding: rfs-value(55px) rfs-value(45px) rfs-value(90px) rfs-value(45px);
      height: 100%;
      color: $qc-white;
      display: flex;
      flex-direction: column;

      &--premium {
        background-color: $qc-blue-dark;
        background-position: -25% 41px;
      }

      &-title {
        /*margin-bottom: rfs-value(45px);*/
      }

      &-img {
        margin-bottom: rfs-value(40px);

        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
          aspect-ratio: 16/7;
          width: 100%;
        }
      }

      .btn {
        margin-top: auto;
        align-self: flex-start;
      }
    }
  }

  &__jobs {
    @extend %q-bg-img;

    background-color: $qc-blue-dark;
    background-position: left 98% center;
    background-size: auto 129%;

    &-card {
      background-color: $white;
      padding: rfs-value(30px) rfs-value(45px) rfs-value(35px) rfs-value(25px);
      height: 100%;
      flex-direction: column;

      &-title {
        font-size: 22px;
        margin-bottom: 20px;
      }

      &-tr {
        border-bottom: 2px solid $qc-blue-light;
        justify-content: space-between;
        padding-bottom: 1rem;

        & + div {
          padding-top: 1rem;
        }

        &:last-of-type {
          border: none;
          margin-bottom: rfs-value(15px);
        }

        &-label {
          flex: 0 1 30%;

          & + p {
            flex: 1;
          }
        }
      }

      .btn {
        margin-top: auto;
        align-self: flex-start;
      }
    }

    // p {
    //   ight;

    //   &:last-of-type {
    //     border: none;
    //   }
    // }
  }

  &__ctas {
    &-card {
      @extend %q-bg-img;

      background-color: $qc-blue-light;
      background-size: auto 203%;
      background-position: -35% 22%;
      color: $qc-white;
      padding: rfs-value(45px) rfs-value(35px) rfs-value(55px);
      height: 100%;
      flex-direction: column;

      &--dark {
        background-color: $qc-blue-dark;
        .btn-white {
          color: $qc-blue-dark;
          &:hover {
            background-color: $qc-blue-light;
            color: $qc-white;
          }
        }
      }

      &-title {
        margin-bottom: rfs-value(35px);
        font-size: rfs-value(40px);
      }

      .btn {
        margin-top: auto;
        align-self: flex-start;
      }
    }
  }
}

.home {
  .fc__news {
    .col-md-6 {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.fc__img-text-mid {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: -65px;
  margin-bottom: -65px;
  @include media-breakpoint-down(lg) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
.top_img_section,
.bott-img-section {
  z-index: 2;
  position: relative;
}
.rise-up {
  z-index: 2;
  position: relative;
}
