$select: ".input";

#{$select} {
  &[type="text"] {
    border: 5px solid red;
  }
}

input {
  
  &[type=submit],
  &[type=email],
  &[type=text] {
    padding: rfs-value(24px);
  }

  &[type=checkbox] {
    width: rfs-value(28px);
    height: rfs-value(28px);
  }

  &[type=radio] {
    appearance: none;
    background-color: none;
    border: rfs-value(1px) solid $white;
    border-radius: 50%;
    width: rfs-value(20px);
    height: rfs-value(20px);

    &:checked {
      background-color: $white;
    }
  }
}

select {
  appearance: none;
  background-image: url(../images/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right rfs-value(20px) center;
  background-size: rfs-value(25px) rfs-value(12px);
  padding: rfs-value(20px);
  width: 100%;
}

textarea {
  padding: rfs-value(24px);
}
