$selector: ".hero-carousel";

#{$selector} {
  background-color: $qc-blue-dark;
  height: rfs-value(800px);
  h1 {
    padding-right: 1.5rem;
  }
  .home & {
    z-index: 1;
  }

  &__slide {
    position: relative;
    @include media-breakpoint-down(lg) {
      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/bg-q.svg);
        background-size: 2000px;
        background-repeat: no-repeat;
        background-position: -400px -100px;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        bottom: 0;
      }
    }
    &-img {
      position: absolute;
      width: 100%;

      @include media-breakpoint-down(lg) {
        bottom: 0;
        img {
          height: 50% !important;
          bottom: 0;
          position: absolute;
          left: 0;
        }
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        @include media-breakpoint-down(lg) {
          top: 40%;
        }
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
      }

      &::before {
        background: linear-gradient(
          90deg,
          rgba(0, 33, 71, 1) 25%,
          rgba(0, 33, 71, 0) 100%
        );
        @include media-breakpoint-down(lg) {
          background: linear-gradient(
            180deg,
            rgba(0, 33, 71, 1) 15%,
            rgba(0, 33, 71, 0) 35%
          );
        }
        z-index: 2;
      }

      &::after {
        background-image: url(../images/bg-q.svg); //
        background-size: 111%;
        background-repeat: no-repeat;
        background-position: -351% center;
        @include media-breakpoint-down(lg) {
          // background-position: center center;
          // background-size: 111%;
          content: none;
        }
        z-index: 3;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right center;

      z-index: 1;
    }

    &-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $qc-white;
      font-size: rfs-value(40px);
      width: rfs-value(50%);
      @include media-breakpoint-down(lg) {
        top: 35%;
        width: 100%;
      }

      z-index: 4;
    }

    &-btns {
      /*padding-top: rfs-value(60px);*/
      .btn-primary {
        border: 1px solid $qc-blue-light;
        &:hover {
          background-color: $qc-white;
          color: $qc-blue-light;
          border: 1px solid $qc-white;
        }
      }
      .btn-white {
        &--inverse {
          &:hover {
            background-color: $qc-white;
            color: $qc-blue-light;
          }
        }
      }
    }
  }

  &__pagination {
    position: absolute;
    left: 50%;
    bottom: rfs-value(25px);
    transform: translateX(-50%);
    padding-left: 0;
    @include media-breakpoint-down(lg) {
      bottom: 40%;
    }
    .splide__pagination__page {
      background-color: $qc-white;
      border: none;
      &.is-active {
        background-color: $qc-blue-light;
      }
    }
    > a {
      color: white;
      text-decoration: none;
      &:hover {
      }
      i {
        font-size: rfs-value(40px);
        color: $white;
        position: absolute;
        bottom: 0;
        left: calc(50% - rfs-value(20px));
        @include media-breakpoint-down(lg) {
          left: auto;
          right: 0;
        }
        transform: translateX(-50%);
        cursor: pointer;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: up-down;
      }
    }
  }
}

@keyframes up-down {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
