$selector: ".site";

#{$selector} {
  &__header {
    padding-top: rfs-value(50px);
    position: relative;

    &::before {
      //  &:not(.home &) {
      @extend %q-bg-img;

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: left 24% top 42%;
      background-size: 200% 200%;
      z-index: 0;

      .home & {
        background-position: left -100% top 33%;
        background-size: 121%;
      }
      @include media-breakpoint-up(md) {
      }
      //  }
    }

    &--premium {
      background-color: $qc-blue-dark;
    }

    .home & {
      position: absolute;
      width: 100%;
      z-index: 2;

      &::before {
        background-image: none;
      }
    }

    &:not(.home &):not(&--premium) {
      // @extend %q-bg-img;

      background-color: $qc-blue-light;
      // background-repeat: no-repeat;
      // background-position: 21% top;
      // background-size: 202%;
    }

    .navbar {
      font-size: rfs-value(20px);

      @include media-breakpoint-up(md) {

      }

      li {
        @include media-breakpoint-up(md) {
          padding-bottom: rfs-value(100px);
          margin-left: rfs-value(35px);

          &:first-child {
            margin-left: 0;
          }
        }
      }
      a {
        --bs-nav-link-padding-y: 0;
        --bs-navbar-nav-link-padding-x: 0;
      }
    }

    &-title {
      font-size: rfs-value(30px);
      padding-bottom: rfs-value(130px);

      @include media-breakpoint-up(md) {
        font-size: rfs-value(60px);
        background-size: rfs-value(800px);
      }
    }

    .navbar-toggler {
      position: relative;
      border: none;
      z-index: 5;

      &:not(&.collapsed) {
        background-image: none;

        &::after {
          content: "\e918";
          font-size: rfs-value(20px);
          color: $qc-white;
        }
      }
    }
  }

  &__nav {
    .current-menu-item {
      a {
        color: $qc-blue-dark;
      }
    }

    &-wrap {
      @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        background: $qc-blue-light;
        transition: left 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: rfs-value(40px);
        z-index: 3;
      }

      &.show {
        left: 20%;
      }
    }
  }

  &__logo {
    width: rfs-value(150px);

    @include media-breakpoint-up(md) {
      width: rfs-value(300px);
    }

    img {
      width: 100%;
    }
  }

  &__main {
    padding-top: rfs-value(66px);

    .home & {
      padding-top: rfs-value(110px);
    }
  }

  &__sub-nav {
    background-color: $qc-blue-dark;
    justify-content: center;
    padding-top: rfs-value(25px);
    padding-bottom: rfs-value(35px);

    li {
      padding: 0 rfs-value(15px);

      &.current {
        a {
          text-decoration: underline;
        }
      }
    }

    a {
      color: $qc-white;
      text-decoration: none;
    }

    .menu-collapse__display {
      color: $qc-white;
    }
  }

  &__content {
    ul {
      @extend %qc-blue-bullet;

      margin-bottom: rfs-value(30px);

      li {
        margin-bottom: rfs-value(20px);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__form {
    position: relative;
    padding-bottom: rfs-value(90px);
    color: $qc-white;
    z-index: 1;

    &:not(&--section) {
      .container {
        padding-bottom: 50px;
        border-bottom: 2px solid $qc-blue-light;
      }
    }

    &--section {
      padding-top: rfs-value(100px);
      @extend %q-bg-img;

      background-color: $qc-blue-dark;
      background-size: 200% 200%;
      background-position: -15% 20%;
    }

    &-text {
      //font-size: rfs-value(22px);
      max-width: rfs-value(500px);

      address {
        flex-direction: column;

        * {
          margin-bottom: rfs-value(20px);
        }

        a {
          text-decoration: underline;
        }
      }
    }

    &-title {
      //font-size: rfs-value(55px);
      //margin-bottom: rfs-value(50px);
    }

    &-sub-title {
      //font-size: rfs-value(35px);
      //margin-top: rfs-value(50px);
      //margin-bottom: rfs-value(50px);
    }

    form {
      display: flex;
      flex-direction: column;
    }

    fieldset {
      flex-direction: column;

      label {
        flex-grow: 1;
        margin-bottom: rfs-value(40px);

        > span {
          display: block;

          * {
            width: 100%;
            background-color: transparent;
            border: rfs-value(1px) solid $white;
            color: $white;

            &::placeholder {
              color: $white;
            }
          }
        }
      }
    }

    .btn {
      align-self: flex-end;
    }
  }

  &__footer {
    position: relative;
    padding: rfs-value(80px) 0 2rem;
    color: $qc-white;

    &--short {
      padding-top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @extend %q-bg-img;

      background-size: 163%;
      background-position: 48% 63%;
      @include media-breakpoint-down(md) {
        background-size: 300%;
        background-position: 87% 63%;
      }
      pointer-events: none;
      z-index: 0;
    }

    a {
      text-decoration: none;
      color: $qc-white;
    }

    &-wrap {
      padding-top: rfs-value(20px);
    }

    &-logos {
      img {
        margin-bottom: rfs-value(50px);
        &.qc-logo {
          width: 80%;
          @include media-breakpoint-down(md) {
            margin: 0 auto;
            display: block;
          }
        }
        &.ncf-logo {
          @include media-breakpoint-down(md) {
            margin: 40px auto;
            display: block;
          }
        }
      }
    }

    &-links {
      font-size: rfs-value(14px);

      ul#policies {
        column-count: 1;
      }
      ul {
        column-count: 2;
        column-gap: rfs-value(40px);
      }

      li {
        margin-bottom: 0.3rem;
      }
    }

    &-title {
      //font-size: rfs-value(22px);
      //margin-bottom: rfs-value(26px);
    }

    &-socials {
      //margin-bottom: rfs-value(25px);

      a {
        font-size: rfs-value(25px);
        margin-right: rfs-value(15px);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
