$selector: ".site";

#{$selector} {
  &__header {
    padding-top: rfs-value(50px);

    .home & {
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    &:not(.home &) {
      @extend %q-bg-img;

      background-color: $qc-blue-light;
      background-repeat: no-repeat;
      background-position: 21% top;
      background-size: 202%;
  
      @include media-breakpoint-up(md) {
        background-position: 157% 62%;
        background-size: 79%;
      }
    }

    .navbar {
      padding-bottom: rfs-value(100px);
      font-size: rfs-value(20px);

      li {
        margin-left: rfs-value(35px);

        &:first-child {
          margin-left: 0;
        }
      }
      a {
        --bs-nav-link-padding-y: 0;
        --bs-navbar-nav-link-padding-x: 0;
      }
    }

    &-title {
      font-size: rfs-value(30px);
      padding-bottom: rfs-value(130px);

      @include media-breakpoint-up(md) {
        font-size: rfs-value(60px);
        background-size: rfs-value(800px);
      }
    }
  }

  &__logo {
    width: rfs-value(150px);

    @include media-breakpoint-up(md) {
      width: rfs-value(300px);
    }

    img {
      width: 100%;
    }
  }

  &__main {
    padding-top: rfs-value(66px);

    .home & {
      padding-top: rfs-value(110px);
    }
  }

  &__sub-nav {
    background-color: $qc-blue-dark;
    justify-content: center;
    padding-top: rfs-value(25px);
    padding-bottom: rfs-value(35px);

    li {
      padding: 0 rfs-value(15px);
      
      &.current {
        a {
          text-decoration: underline;
        }
      }
    }

    a {
      color: $qc-white;
      text-decoration: none;
    }
  }

  &__footer {
    @extend %q-bg-img;

    background-size: 163%;
    background-position: 48% 63%;
    padding: rfs-value(80px) 0;
    color: $qc-white;

    a {
      text-decoration: none;
      color: $qc-white;
    }

    &-logos {
      img {
        margin-bottom: rfs-value(50px)
      }
    }

    &-links {
      font-size: rfs-value(14px);

      ul {
        column-count: 2;
        column-gap: rfs-value(40px);
      }

      li {
        margin-bottom: rfs-value(10px);
      }
    }

    &-title {
      font-size: rfs-value(22px);
      margin-bottom: rfs-value(26px);
    }

    &-socials {
      margin-bottom: rfs-value(25px);
 
      a {
        font-size: rfs-value(25px);
        margin-right: rfs-value(15px);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
