$selector: ".type-search";

#{$selector} {
  position: relative;

  &__results {
    position: absolute;
    height: 0;
    width: 100%;
    background-color: $white;
    color: $qc-black;

    &--active {
      top: 100%;
      padding: rfs-value(10px);
      height: auto;
    }
  }
}
